.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease-in-out;
  z-index: 1000;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 200px;
  transition: background 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.nav-container ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 12px;
}

.nav-container li {
  display: inline;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
  padding-bottom: 1px;
}

.nav-container li:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 1px;
  cursor: pointer;
}

.scrolled {
  background: white;
  color: black;
  border-bottom: 0.1px solid whitesmoke;
}

.scrolled li:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 1px;
  cursor: pointer;
}
